n8n-payment-workflow.json
{
  "name": "9LMNTS Studio - n8n Payment Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paypal-payment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "PayPal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "paypal-payment-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Parse PayPal webhook data\nconst paymentData = $input.first().json;\n\n// Extract relevant information\nconst customer = {\n  email: paymentData.payer.email_address,\n  name: `${paymentData.payer.name.given_name} ${paymentData.payer.name.surname}`,\n  phone: paymentData.payer.phone?.phone_number || '',\n  amount: paymentData.purchase_units[0].amount.value,\n  currency: paymentData.purchase_units[0].amount.currency_code,\n  serviceType: paymentData.purchase_units[0].custom_id || 'unknown',\n  paymentId: paymentData.id,\n  status: paymentData.status\n};\n\n// Add timestamp\ncustomer.createdAt = new Date().toISOString();\n\nreturn {\n  json: customer\n};"
      },
      "id": "parse-payment",
      "name": "Parse Payment Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "customers",
        "columns": "email, name, phone, service_type, payment_status, payment_id, amount, currency, created_at",
        "additionalFields": {
          "returnFields": "id"
        }
      },
      "id": "supabase-insert",
      "name": "Create Customer Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Generate GitHub repository name\nconst customer = $input.first().json;\nconst repoName = `9lmnts-${customer.serviceType}-${Date.now()}`;\n\n// GitHub API call parameters\nconst githubData = {\n  name: repoName,\n  description: `${customer.serviceType} service for ${customer.name}`,\n  private: true,\n  auto_init: true\n};\n\nreturn {\n  json: {\n    ...customer,\n    repoName,\n    githubData\n  }\n};"
      },
      "id": "generate-repo",
      "name": "Generate Repo Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitHubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json.repoName}}"
            },
            {
              "name": "description",
              "value": "={{$json.githubData.description}}"
            },
            {
              "name": "private",
              "value": "={{$json.githubData.private}}"
            },
            {
              "name": "auto_init",
              "value": "={{$json.githubData.auto_init}}"
            }
          ]
        }
      },
      "id": "github-create",
      "name": "Create GitHub Repository",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300],
      "credentials": {
        "gitHubApi": {
          "id": "github-credentials",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Clone template repository and push to new repo\nconst customer = $input.first().json;\nconst repoData = $input.last().json;\n\n// Netlify deployment parameters\nconst netlifyData = {\n  siteName: `${customer.repoName}-site`,\n  repoUrl: repoData.clone_url,\n  buildCommand: 'npm run build',\n  publishDir: 'build'\n};\n\nreturn {\n  json: {\n    ...customer,\n    repoData,\n    netlifyData\n  }\n};"
      },
      "id": "prepare-deploy",
      "name": "Prepare Deployment",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.netlify.com/api/v1/sites",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "netlifyApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.netlifyApi.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json.netlifyData.siteName}}"
            },
            {
              "name": "repo",
              "value": "={{$json.netlifyData.repoUrl}}"
            },
            {
              "name": "build_settings",
              "value": "={{ JSON.stringify({ cmd: $json.netlifyData.buildCommand, dir: $json.netlifyData.publishDir }) }}"
            }
          ]
        }
      },
      "id": "netlify-deploy",
      "name": "Deploy to Netlify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 300],
      "credentials": {
        "netlifyApi": {
          "id": "netlify-credentials",
          "name": "Netlify API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Generate welcome email content\nconst customer = $input.first().json;\nconst netlifySite = $input.last().json;\n\nconst emailContent = {\n  to: customer.email,\n  subject: `Welcome to 9LMNTS Studio - Your ${customer.serviceType} is Ready!`,\n  html: `\n    <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n      <div style=\"background: #1A1A1A; color: white; padding: 20px; text-align: center;\">\n        <h1 style=\"color: #FF7A00; margin: 0;\">9LMNTS Studio</h1>\n        <p style=\"margin: 10px 0;\">Your AI Service is Live!</p>\n      </div>\n      \n      <div style=\"padding: 20px; background: #f9f9f9;\">\n        <h2>Hello ${customer.name},</h2>\n        <p>Thank you for choosing 9LMNTS Studio! Your ${customer.serviceType} service has been successfully set up and deployed.</p>\n        \n        <div style=\"background: white; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n          <h3 style=\"color: #FF7A00;\">Your Service Details:</h3>\n          <ul>\n            <li><strong>Service:</strong> ${customer.serviceType}</li>\n            <li><strong>Amount Paid:</strong> $${customer.amount} ${customer.currency}</li>\n            <li><strong>GitHub Repository:</strong> <a href=\"${customer.repoData.html_url}\">${customer.repoName}</a></li>\n            <li><strong>Live Site:</strong> <a href=\"https://${netlifySite.url}\">${netlifySite.url}</a></li>\n          </ul>\n        </div>\n        \n        <div style=\"background: #222222; color: white; padding: 15px; border-radius: 5px; margin: 20px 0;\">\n          <h3 style=\"color: #FF7A00;\">Next Steps:</h3>\n          <ol>\n            <li>Access your admin dashboard using the credentials below</li>\n            <li>Customize your service settings</li>\n            <li>Explore the documentation</li>\n            <li>Join our support community</li>\n          </ol>\n        </div>\n        \n        <div style=\"background: #FF7A00; color: #1A1A1A; padding: 15px; border-radius: 5px; margin: 20px 0; text-align: center;\">\n          <h3>Login Credentials:</h3>\n          <p><strong>Email:</strong> ${customer.email}</p>\n          <p><strong>Password:</strong> ${customer.repoName}!</p>\n        </div>\n      </div>\n      \n      <div style=\"background: #1A1A1A; color: white; padding: 20px; text-align: center;\">\n        <p>Need help? Reply to this email or visit our <a href=\"https://9lmntsstudio.com\" style=\"color: #FF7A00;\">support center</a></p>\n        <p style=\"margin-top: 20px; font-size: 12px;\">© 2024 9LMNTS Studio. All rights reserved.</p>\n      </div>\n    </div>\n  `\n};\n\nreturn {\n  json: emailContent\n};"
      },
      "id": "generate-email",
      "name": "Generate Welcome Email",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@9lmntsstudio.com",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "emailFormat": "html",
        "message": "={{$json.html}}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2000, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Email"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Update customer record with deployment info\nconst customer = $input.first().json;\nconst netlifySite = $input.last().json;\n\n// Update project record\nconst projectData = {\n  customerId: customer.id,\n  serviceType: customer.serviceType,\n  githubRepo: customer.repoData.html_url,\n  netlifyUrl: `https://${netlifySite.url}`,\n  status: 'completed',\n  completedAt: new Date().toISOString()\n};\n\nreturn {\n  json: projectData\n};"
      },
      "id": "update-project",
      "name": "Update Project Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "projects",
        "column": "customer_id",
        "value": "={{$json.customerId}}",
        "updateKey": "status",
        "updateValue": "={{$json.status}}",
        "additionalFields": {
          "updateFields": {
            "fieldValues": [
              {
                "field": "github_repo",
                "value": "={{$json.githubRepo}}"
              },
              {
                "field": "netlify_url", 
                "value": "={{$json.netlifyUrl}}"
              },
              {
                "field": "completed_at",
                "value": "={{$json.completedAt}}"
              }
            ]
          }
        }
      },
      "id": "supabase-update",
      "name": "Update Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2440, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"AI service deployed successfully!\",\n  \"customerId\": \"{{$json.customerId}}\",\n  \"serviceType\": \"{{$json.serviceType}}\",\n  \"netlifyUrl\": \"{{$json.netlifyUrl}}\"\n}"
      },
      "id": "response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 300]
    }
  ],
  "connections": {
    "PayPal Webhook": {
      "main": [
        [
          {
            "node": "Parse Payment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payment Data": {
      "main": [
        [
          {
            "node": "Create Customer Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer Record": {
      "main": [
        [
          {
            "node": "Generate Repo Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Repo Name": {
      "main": [
        [
          {
            "node": "Create GitHub Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Repository": {
      "main": [
        [
          {
            "node": "Prepare Deployment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deployment": {
      "main": [
        [
          {
            "node": "Deploy to Netlify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy to Netlify": {
      "main": [
        [
          {
            "node": "Generate Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Welcome Email": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Update Project Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Project Status": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
